$btn-red: hsl(0, 100%, 68%);
$Very-Dark-Blue: hsl(230, 29%, 20%);
$Dark-Grayish-Blue: hsl(230, 11%, 40%);
$Grayish-Blue: hsl(231, 7%, 65%);
$Light-Grayish-Blue: hsl(207, 33%, 95%);

// typografi

$Font-Size: 1.2rem;
// Call-to-action, heading, Navigation
$Font-Barlow-Condensed: "Barlow Condensed", sans-serif;
// Body
$Font-Barlow: "Barlow", sans-serif;
